.container {
    display:flex; 
    flex-direction: row;
    flex-wrap:wrap; 
    justify-content: flex-start; 
}
.recipeStyle {
    /* background-color:lightblue; */

    max-height: 200px;
    min-height: 200px;
    min-width: 100%;
    
    width: 100%;
    height: auto;
    
}
/* 
.background {
    background-image: url('transparent.png'); 
    height: 1000px; 
    margin-top:-30px;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
} */